version: '3.3'

networks:
  servicebus:

services:

  # tests:
  #   image: node
  #   volumes:
  #     - .:/usr/src/
  #   working_dir: /usr/src/
  #   user: root
  #   environment:
  #     DEBUG: servicebus-kafka
  #     RABBITMQ_URL: amqp://rabbitmq:5672
  #     KAFKA_HOSTS: kafka:9092
  #   networks:
  #     - servicebus
  #   command: npm run test:staging

  zk:
    image: wurstmeister/zookeeper:latest
    ports:
      - "2181:2181"
    networks:
      - servicebus
    environment:
      JMX_OPTS: "-Djava.security.auth.login.config=/etc/kafka/server-jaas.conf"
    volumes:
      - ./testHelpers/kafka/server-jaas.conf:/etc/kafka/server-jaas.conf

  kafka1:
    image: wurstmeister/kafka:2.11-2.0.0
    ports:
      - target: 9093
        published: 9093
        protocol: tcp
        mode: host
    networks:
      - servicebus
    environment:
      KAFKA_BROKER_ID: 0
      KAFKA_ADVERTISED_HOST_NAME: ${HOST_IP}
      KAFKA_ZOOKEEPER_CONNECT: zk:2181
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_ADVERTISED_LISTENERS: INSIDE://:9092,OUTSIDE://${HOST_IP}:9093
      KAFKA_LISTENERS: INSIDE://:9092,OUTSIDE://:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
      KAFKA_DELETE_TOPIC_ENABLE: 'true'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_SSL_KEYSTORE_LOCATION: "/var/private/ssl/certs/kafka.server.keystore.jks"
      KAFKA_SSL_KEYSTORE_PASSWORD: "testtest"
      KAFKA_SSL_KEY_PASSWORD: "testtest"
      KAFKA_SSL_TRUSTSTORE_LOCATION: "/var/private/ssl/certs/kafka.server.truststore.jks"
      KAFKA_SSL_TRUSTSTORE_PASSWORD: "testtest"
      KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: "PLAIN"
      KAFKA_SASL_ENABLED_MECHANISMS: "PLAIN,SCRAM-SHA-256,SCRAM-SHA-512"
      KAFKA_OPTS: "-Djava.security.auth.login.config=/opt/kafka/config/server-jaas.conf"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./testHelpers/certs:/var/private/ssl/certs
      - ./testHelpers/kafka/server-jaas.conf:/opt/kafka/config/server-jaas.conf
      # - ./testHelpers/kafka/log4j.properties:/opt/kafka/config/log4j.properties

  kafka2:
    image: wurstmeister/kafka:2.11-2.0.0
    ports:
      - target: 9095
        published: 9095
        protocol: tcp
        mode: host
    networks:
      - servicebus
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ADVERTISED_HOST_NAME: ${HOST_IP}
      KAFKA_ZOOKEEPER_CONNECT: zk:2181
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_ADVERTISED_LISTENERS: INSIDE://:9094,OUTSIDE://${HOST_IP}:9095
      KAFKA_LISTENERS: INSIDE://:9094,OUTSIDE://:9095
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
      KAFKA_DELETE_TOPIC_ENABLE: 'true'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_SSL_KEYSTORE_LOCATION: "/var/private/ssl/certs/kafka.server.keystore.jks"
      KAFKA_SSL_KEYSTORE_PASSWORD: "testtest"
      KAFKA_SSL_KEY_PASSWORD: "testtest"
      KAFKA_SSL_TRUSTSTORE_LOCATION: "/var/private/ssl/certs/kafka.server.truststore.jks"
      KAFKA_SSL_TRUSTSTORE_PASSWORD: "testtest"
      KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: "PLAIN"
      KAFKA_SASL_ENABLED_MECHANISMS: "PLAIN,SCRAM-SHA-256,SCRAM-SHA-512"
      KAFKA_OPTS: "-Djava.security.auth.login.config=/opt/kafka/config/server-jaas.conf"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./testHelpers/certs:/var/private/ssl/certs
      - ./testHelpers/kafka/server-jaas.conf:/opt/kafka/config/server-jaas.conf
      # - ./testHelpers/kafka/log4j.properties:/opt/kafka/config/log4j.properties

  kafka3:
    image: wurstmeister/kafka:2.11-2.0.0
    ports:
      - target: 9097
        published: 9097
        protocol: tcp
        mode: host
    networks:
      - servicebus
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ADVERTISED_HOST_NAME: ${HOST_IP}
      KAFKA_ZOOKEEPER_CONNECT: zk:2181
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_ADVERTISED_LISTENERS: INSIDE://:9096,OUTSIDE://${HOST_IP}:9097
      KAFKA_LISTENERS: INSIDE://:9096,OUTSIDE://:9097
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
      KAFKA_DELETE_TOPIC_ENABLE: 'true'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_SSL_KEYSTORE_LOCATION: "/var/private/ssl/certs/kafka.server.keystore.jks"
      KAFKA_SSL_KEYSTORE_PASSWORD: "testtest"
      KAFKA_SSL_KEY_PASSWORD: "testtest"
      KAFKA_SSL_TRUSTSTORE_LOCATION: "/var/private/ssl/certs/kafka.server.truststore.jks"
      KAFKA_SSL_TRUSTSTORE_PASSWORD: "testtest"
      KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: "PLAIN"
      KAFKA_SASL_ENABLED_MECHANISMS: "PLAIN,SCRAM-SHA-256,SCRAM-SHA-512"
      KAFKA_OPTS: "-Djava.security.auth.login.config=/opt/kafka/config/server-jaas.conf"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./testHelpers/certs:/var/private/ssl/certs
      - ./testHelpers/kafka/server-jaas.conf:/opt/kafka/config/server-jaas.conf
      # - ./testHelpers/kafka/log4j.properties:/opt/kafka/config/log4j.properties
  
  # # schema-registry:
  #   image: confluent/schema-registry
  #   ports:
  #     - 8081:8081
  #   networks:
  #     - servicebus

  # kafka-rest:
  #   image: cgswong/confluent-rest-proxy
  #   ports:
  #     - 8082:8082
  #   networks:
  #     - servicebus


  # kafka-topics-ui:
  #   image: landoop/kafka-topics-ui
  #   ports:
  #     - 8000:8000
  #   networks:
  #     - servicebus
  #   environment:
  #     - KAFKA_REST_PROXY_URL=http://kafka-rest:8082
